.aboutMe {
  background: url('./assets/main-bg.jpg') center / cover no-repeat;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutMeTitle {
  font-size: 72px;
  line-height: normal;
  font-weight: 500;
  max-width: 350px;
  margin-bottom: 50px;

  @media (max-width: 576px) {
    font-size: 50px;
  }
}

.buttons {
  display: inline-flex;
  gap: 20px;

  @media (max-width: 576px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.cvButton {
  font-size: 18px;
  line-height: normal;
  padding: 15px 30px;
  border-radius: 15px;
  color: #fff;
  background-color: var(--color-blue);
  transition: 0.2s;

  &:hover {
    background-color: var(--color-blue);
    color: #fff;
  }
}

.telegramLink {
  font-size: 18px;
  line-height: normal;
  padding: 15px 30px;
  border-radius: 15px;
  background-color: #fff;
  color: var(--color-blue);
  transition: 0.2s;
  position: relative;
  padding-right: 65px;

  &::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    width: 35px;
    background: url('@/shared/assets/icons/telegram.svg') 0 0 / cover no-repeat;
  }

  &:hover {
    background-color: var(--color-blue);
    color: #fff;
  }
}

.projects {
  background: linear-gradient(135deg, #615b5b 75%, #393131 25%);
  height: auto;
  padding: 50px 0;
}

.projectsTitle {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.projectsSliderNavigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 20px;

  @media (max-width: 576px) {
    justify-content: center;
  }
}

.projectsSliderPreviousArrow,
.projectsSliderNextArrow {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-blue);

  &:disabled {
    opacity: 0.5;
    background: rgba(#0e0e0e, 0.2);
    cursor: auto;
  }
}

.projectsSliderPreviousArrowImage,
.projectsSliderNextArrowImage {
  height: 20px;
  width: 20px;
}

.projectsSliderPreviousArrowImage {
  transform: rotate(180deg);
}

.projectCard {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: 576px) {
    max-width: 350px;
    margin: 0 auto;
  }
}

.projectCardContainer {
  width: 100%;
  border-radius: 6px;
}

.projectCardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: #fff;
  border-radius: 15px;
  margin-top: 10px;
}

.projectCardTitle {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  margin-right: 15px;
}

.projectCardImage {
  display: block;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
}

.githubIcon {
  height: 35px;
  width: 35px;
}

.projectCardStackList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  max-width: 100%;
  margin: 0;
  margin-top: 20px;
  gap: 15px;
}

.projectCardStackListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.projectCardStackListImage {
  max-height: 100%;
}

.contacts {
  background: linear-gradient(45deg, #615b5b 75%, #393131 25%);
  height: auto;
  padding: 50px 0;
}

.contactsTitle {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
}

.contactsList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.contactItem {
  border: solid 2px var(--color-blue);
  background: #fff;
  border-radius: 8px;
  font-size: 24px;
  line-height: 27px;
  transition: 0.2s ease-in;

  &:hover {
    background: var(--color-blue);
    color: #fff;
  }

  @media (max-width: 576px) {
    max-width: 350px;
    width: 100%;
  }
}

.contactItemLink {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.contactItemLabel {
  margin-right: 10px;
}

.contactItemImage {
  height: 40px;
  width: 40px;
  margin-left: auto;
}
