.header {
  padding: 15px 0;
  background: var(--color-blue);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  width: 50px;
}

.logoImage {
  border-radius: 50%;
}

.burger {
  display: none;

  @media (max-width: 576px) {
    display: block;
  }
}

.nav {
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;

  @media (max-width: 576px) {
    padding: 20px;
    transform: translateX(-100%);
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-blue);
  }
}

.navActive {
  transform: translateX(0);
}

.navList {
  display: flex;
  gap: 30px;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.navItem {
  font-size: 24px;
  font-weight: normal;
  font-weight: 500;
  color: #fff;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 0;
    background-color: var(--color-green);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
