:root {
  --font-family: 'JetBrainsMono';
  --body-font-size: 16px;
  --body-line-height: 20px;
  --body-font-weight: 400;

  --container-width: 1160px;

  --color-blue: #3374d7;
  --color-green: #68d76c;
  --color-dark-grey: #1b1a1a;
}
